<section class='container my-9 '>
  <div class='row justify-content-center'>
    <div class='col-md-6 '>
      <div class='card fixed-card stretch-card '>
        <div class='card-body bg-dark rounded text-white bg-dark bg-gradient'>
          <h2 class='card-title text-center'>Register</h2>
          <form (ngSubmit)="onSubmit()" *ngIf="registerForm" [formGroup]="registerForm" >
            <div class='mb-3'>
              <label for='name' class='form-label'>Name</label>
              <input type='text' class='form-control' id='name' placeholder='Enter Name' formControlName='name'>
              <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" class="error-message">
                {{ registerForm.get('name')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='gender' class='form-label'>Gender</label>
              <select class='form-control' id='gender' formControlName='gender'>
                <option value='male'>Male</option>
                <option value='female'>Female</option>
                <option value='other'>Other</option>
              </select>
              <div *ngIf="registerForm.get('gender')?.invalid && (registerForm.get('gender')?.dirty || registerForm.get('gender')?.touched)" class="error-message">
                {{ registerForm.get('gender')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='age' class='form-label'>Age</label>
              <input type='number' class='form-control' id='age' placeholder='Enter Age' formControlName='age'>
              <div *ngIf="registerForm.get('age')?.invalid && (registerForm.get('age')?.dirty || registerForm.get('age')?.touched)" class="error-message">
                {{ registerForm.get('age')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='address' class='form-label'>Address</label>
              <input type='text' class='form-control' id='address' placeholder='Enter Address' formControlName='address'>
              <div *ngIf="registerForm.get('address')?.invalid && (registerForm.get('address')?.dirty || registerForm.get('address')?.touched)" class="error-message">
                {{ registerForm.get('address')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='email' class='form-label'>Email</label>
              <input type='email' class='form-control' id='email' placeholder='Enter Valid Email' formControlName='email'>
              <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="error-message">
                {{ registerForm.get('email')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='password' class='form-label'>Password</label>
              <input type='password' class='form-control' id='password' placeholder='Password' formControlName='password'>
              <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="error-message">
                {{ registerForm.get('password')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='confirmPassword' class='form-label'>Confirm Password</label>
              <input type='password' class='form-control' id='confirmPassword' placeholder='Confirm Password' formControlName='confirmPassword'>
              <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" class="error-message">
                {{ registerForm.get('confirmPassword')?.errors?.['message'] }}
              </div>
            </div>
            <div class='mb-3'>
              <label for='userType' class='form-label'>I am a</label>
              <select class='form-control' id='userType' formControlName='userType'>
                <option value='BloodDonor'>Blood Donor</option>
                <option value='BloodRecipient'>Blood Recipient</option>
                <option value='Admin'>Admin</option>
                <option value='Volunteer'>Volunteer</option>
                <option value='Advertiser'>Advertiser</option>
              </select>
              <div *ngIf="registerForm.get('userType')?.invalid && (registerForm.get('userType')?.dirty || registerForm.get('userType')?.touched)" class="error-message">
                {{ registerForm.get('userType')?.errors?.['message'] }}
              </div>
            </div>
            <button type='submit' class='btn btn-primary'>Register</button>
          </form>
          <div *ngIf="registerForm.get('errorMessage')?.invalid" class="error-message">
            {{ registerForm.get('errorMessage')?.value }}
          </div>
          <div *ngIf="registerForm.get('successMessage')?.invalid" class="success-message">
            {{ registerForm.get('successMessage')?.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
