# Node.js
node_modules

# Angular
/dist
/*.js
/*.js.map
/*.d.ts
/*.ngfactory.ts
/*.ngfactory.js
/ng-closure-runner
/karma-*.conf.js
/karma-*.conf.ts
/coverage
/tsconfig.json
/tslint.json

# System Files
.DS_Store
Thumbs.db
