
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <title>Blood Donation Eligibility</title>
</head>
<body >
    <div class="container mt-5 text-white" >
        <h1 class="text-center mb-4">Eligibility for Blood Donation</h1>
            <div class="col-md-12 container_div bg-gradient">
                <div class=" mb-4">
                    <div class="">
                        <h4 class="mb-4">Basic Criteria</h4>
                        <ul>
                            <li>You must be at least 18 years old.</li>
                            <li>Your weight should be at least 50 kg (110 lbs).</li>
                            <li>You should be in good health and feeling well on the day of donation.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 container_div bg-gradient">
                <div class=" mb-4">
                    <div class="">
                        <h4 class="mb-4">Additional Considerations</h4>
                        <ul>
                            <li>Recent travel to certain countries may affect eligibility.</li>
                            <li>Some medical conditions or medications may disqualify you temporarily.</li>
                            <li>Check if you've donated blood in the last 8 weeks.</li>
                        </ul>
                    </div>
                </div>
            </div>

        <div>
           <p class="text-center">Please consult a healthcare professional if you have any doubts about your eligibility.</p>
        </div>
        <div class="text-center">
            <img src="assets/blood_backgroud.jpg" alt="Blood Donation" class="img-fluid rounded">
            
        </div>
    </div>
</body>
</html>

