<footer class="footer">
    <div class="container">
        <div class="row">
           
            <div class="col-md-6">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a routerLink="/why-donate">Why Donate?</a></li>
                    <li><a routerLink="/eligibility">Eligibility</a></li>
                    <li><a routerLink="/faqs">FAQs</a></li>
                    <!-- <li><a href="#">Eligibility</a></li>
                    <li><a href="#">FAQs</a></li> -->
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <address>
                    123 Main Street<br>
                    City, State ZIP<br>
                    (123) 456-7890<br>
                    <a href="mailto:bloodlink@bloodlink.com">bloodlink@bloodlink.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Your Company. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-right">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
