.container {
    width: 100%;
}
details {
    margin-bottom: 10px;
}
summary {
    font-weight: bolder;
    font-size: 30px;
    background-color: #FFF;
    padding: 10px;
    cursor: pointer;
    color: red;
    border-radius: 10PX;
}
div {
    padding: 10px;
}

.nav-link{
    color: red;
    font-size: 35px;
    font-weight: bolder    ;
    border-radius: 15px;
}
.nav-link:hover{
    color: #fff;
    background-color: red;
    border-radius: 15px;

}

.card{
    color: #fff;
   background: #f85032;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}