h1{
  font-size: 4rem;
}
p{
  font-size: 1.5rem;
  line-height: 1.5;
}
button{
  margin-right: 2%;
}
.donor-info-page {
  /* max-width: 800px; */
  padding: 20px;
}

.form-group, .form-check {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-check-input {
  margin-top: 0.3rem;
}

.form-check-label {
  margin-left: 0.5rem;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
