
<div class="about-us-container">
  <h2 class="about-title">About Blood Link</h2>
  <div class="row mb-4">
    <div class="col-md-6">
      <img class="about-img" src="assets/blood-bank_about1.jpg" alt="About" />
    </div>
    <div class="col-md-6">
      <p class="about-text bg-gradient rounded p-4">
        At BloodLink, we believe in the power of community and the life-saving potential of every individual. Our
        platform is more than just a website, it's a beacon of hope, a lifeline for those in need, and a testament to the
        kindness and generosity of humanity .BloodLink is a user-friendly platform dedicated to addressing the critical
        shortage of blood donations during emergencies. Our vision is to establish BloodLink as the go-to platform for
        connecting blood donors and recipients, creating a community committed to saving lives through timely blood
        donations.
      </p>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <h2 class="about-title">Mission</h2>
    <div class="col-md-6">
      <p class="about-text bg-gradient rounded p-4">
        BloodLink is dedicated to simplifying the connection between blood donors and recipients through innovative
        features designed to streamline the process. One such feature is the Blood Request System, which allows
        recipients to easily request blood donations based on their specific needs. This system reduces the time and
        effort required to find suitable donors, ensuring that critical blood transfusions can be arranged quickly and
        efficiently. Additionally, our Real-time Notifications feature keeps donors and recipients informed about urgent
        blood needs, further reducing response times and ensuring that donations reach those in need promptly. Through our platform, users can create detailed User Profiles that include their blood type and
        availability for donation. By facilitating these connections and providing valuable information, BloodLink aims to improve blood
        donation awareness and ultimately save more lives.
      </p>
    </div>
    <div class="col-md-6">
      <img class="about-img" src="assets/blood-bank_about2.jpg" alt="About" />
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <h2 class="about-title">How Blood-Link Works</h2>
    <div class="col-md-12">
      <p class="about-text bg-gradient rounded p-4">
        BloodLink simplifies the process of connecting blood donors with recipients by providing a user-friendly
        interface and innovative features. Users can easily request blood donations, receive real-time notifications,
        and create profiles to manage their donation activities. Through BloodLink, we aim to reduce response times
        during emergencies, enhance community engagement, and increase awareness about the importance of blood donation.
      <br><br>
        We measure our success by the impact we make in reducing response times, increasing donation frequency, engaging
        the community, generating revenue for sustainability, and raising awareness about blood donation. By tracking
        these metrics, we can continuously improve BloodLink and ensure that we are effectively addressing the critical
        shortage of blood donations.
        <br><br>
        We invite you to join us in our mission to save lives through timely blood donations. Together, we can make a
        difference and ensure that no one faces a shortage of blood when they need it most.
      </p>
    </div>
  </div>
  
<div class="about-us-container">


  <h2 class="about-title mt-5">Behind This Project</h2>
  <div class="row mt-4">
    <div class="col-md-3">
      <img class="team-img" src="assets/profile.jpg" alt="Jigneshbhai Patel" />
      <h4 class="team-title">Jigneshbhai Patel</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/profile.jpg" alt="Melissa Jane Dennis" />
      <h4 class="team-title">Melissa Jane Dennis</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/profile.jpg" alt="Munish Bali" />
      <h4 class="team-title">Munish Bali</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/nimesha.jpeg" alt="Nimesha Mathale Ralalage" />
      <h4 class="team-title">Nimesha Mathale Ralalage</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/reshma.png" alt="Reshma Antony" />
      <h4 class="team-title">Reshma Antony</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/rithin.jpeg" alt="Rithin Peter" />
      <h4 class="team-title">Rithin Peter</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/riya.jpeg" alt="Riya Sara Joy" />
      <h4 class="team-title">Riya Sara Joy</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/visal_pic.jpeg" alt="Visal Mohan" />
      <h4 class="team-title">Visal Mohan</h4>
    </div>
    <div class="col-md-3">
      <img class="team-img" src="assets/profile.jpg" alt="Yeshi Ngawang" />
      <h4 class="team-title">Yeshi Ngawang</h4>
    </div>
  </div>
</div>